.grid {
  display: grid;
  grid-template-columns:(auto auto auto auto);
  grid-template-rows:(auto auto auto auto);
  gap: 10px 10px;
}

.mosaic-a {
  grid-column:1/3;
  grid-row:1/3;

.mosaic-b {
  grid-column:3/4;
  grid-row:1/2;

.mosaic-c {
  grid-column:3/4;
  grid-row:2/3;

.mosaic-d {
  grid-column:4/5;
  grid-row:1/3;

.mosaic-e {
  grid-column:1;
  grid-row:3/5;

.mosaic-f {
  grid-column:2/3;
  grid-row:3/4;

.mosaic-g {
  grid-column:3/4;
  grid-row:3/4;

.mosaic-h {
  grid-column:4/5;
  grid-row:3/5;

.mosaic-i {
  grid-column:1;
  grid-row:5/6;

.mosaic-j {
  grid-column:2/4;
  grid-row:4/6;

.mosaic-k {
  grid-column:4/5;
  grid-row:5/6;
